body {
	text-align: center;
	margin: 20%;
    background-color: #5900ff;
}

#submit {
	background-color: lightblue;
	transition: background-color 0.5s ease;
}

#reset {
	background-color: lightblue;
	transition: background-color 0.5s ease;
}
